@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style */
.primary-color {
    color: #FD6E0A;
}

.dark2 {
    font-size: 20px;
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: var(--White-Color, #FFF);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}.btn-primary:hover{
    background-color: #e1640b;
}

.secondary-bg {
    background-color: #FFF8F3;
}

/*  header*/
.header {
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;

}

/* nav style */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 15px 230px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul a {
    text-decoration: none;

}

nav ul {
    display: flex;
    align-items: center;

}

nav {
    display: flex;
    align-items: center;
}

nav h3 {

    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}



.banerh2 {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banerh1 {
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.baner-Description {
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.baner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0px 0px;
}

.baner-content {
    max-width: 585px;

}

.baner-Profile-pic {
    max-width: 580px;
}

/* main style */
main {
    max-width: 1140px;
    margin: auto;
}

/* about */
.about {
    padding: 130px 156px;
    text-align: center;
    margin-top: 130px;
}

.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.about-items {
    display: flex;
    justify-content: space-between;
}

.item-title {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.item-description {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

/* skills */
.skills {
    margin-top: 100px;
}

.skills-h-p {
    max-width: 909px;
    text-align: center;
    margin: auto;
}

.skills-item {
    display: flex;
    margin-top: 50px;
    gap: 24px;
}
.skill-item:hover{
    background-color: #FFF8F3;
}

.skill-h2 {
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skill-p {
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.skill-item {
    padding: 30px 33px;
    background-color: #FFFFFF;
    
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}

/* resume */
.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resume-colum-title {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.experince-title {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.experince-sub-title {
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.experince-description {
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.resume-container {
    display: flex;
    gap: 30px;
}

.resume {
    margin-top: 100px;
}

.resume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* footer */
.all-footer {
  display: flex;
   padding: 130px 230px;
   justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.footer-title {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.footer-h2 {
    color: var(--Dark-01, #181818);
   
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.input-form{
    padding-top: 18px;
    padding-bottom: 18px;
    /* padding-right: 349px; */
    padding-left: 30px;
      border-radius: 5px;
      border: none;
      outline: none;
}
.input-message{
    padding-top: 18px;
    padding-bottom: 135px;
    padding-left: 30px;
    border-radius: 5px;
    border: none;
    
}
.footer{
      background-color: #FFF8F3;
      margin-top: 130px;
      
}
.bmt{
    margin-top: 30px;
}

/*  hide*/
.hide{
    display: none;
}

/* responsive media quary */
@media screen and (max-width : 576px){
    .skills-item{
        flex-direction: column;
        gap: 20px;
       margin: auto;
    }
  
.resume-container{
        flex-direction: column;
        margin: auto;
         padding: 20px 30px;
    }
    .all-footer{
        flex-direction: column;
        padding: 20px 30px;
        gap: 10px;
    }
    .about{
        padding: 20px 22px;
    }
    .about-items{
        flex-direction: column;
        gap: 20px;
    }
    .baner{
        flex-direction: column;
    }
    
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 20px;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.baner-content{
    text-align: center;
}
}